@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: lightcoral;
}

.search_container{
  height: 50px;
  position: relative;
}
.search_bar{
  height: 50px;
  padding: 20px;
  width: 50px;
  transition: width 0.4s ease ;
  border: 0;
  font-size: 20px;
}
.search_bar:focus{
  outline: none;
}
.btn{
  padding: 0;
  margin: 0;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0px;
  font-size: 20px;
  border: 0;
  background-color: white;
  cursor: pointer;
}
.active input{
  width: 250px;
}
